.og__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.og__footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.og__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.og__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.og__footer-copyright p {
    /* font-size: 18px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff; */
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--color-text);
}

.og__footer-tweet {
    margin-bottom: 4rem;
    width: 600px;
    border-radius: 25px;
}

.og__footer-avatar {
    padding: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

@media screen and (max-width: 1050px) {
    .og__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
    .og__footer-tweet {
        margin-bottom: 4rem;
        width: 600px;
        border-radius: 25px;
    }
}

@media screen and (max-width: 650px) {
    .og__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .og__footer-tweet {
        margin-bottom: 4rem;
        width: 400px;
        border-radius: 25px;
    }
}

@media screen and (max-width: 490px) {
    .og__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}
